STRAPI_API_TOKEN=cf8cdazertyuiop
STRAPI_API_BASE_URL=http://localhost:1337/api
STRAPI_BASE_URL=http://localhost:1337
REMOTE_PATTERN_HOSTNAME=localhost
REMOTE_PATTERN_PORT=1337
REMOTE_PATTERN_PROTOCOL=http